@import "tailwindcss";

@theme {
  --color-offWhite: #E6E6E6;
}

@layer base {
  body {
    @apply bg-[#050816] text-offWhite font-sans antialiased;
  }

  #root {
    @apply min-h-screen;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #050816;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0F172A;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00D4FF;
}