@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #050816;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #050816;
  color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050816;
}
::-webkit-scrollbar-thumb {
  background: #0F172A;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00D4FF;
}